.public {
  width: 100%;
  background-color: #f9f9f9;
  border: solid 1.25px #198fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  height: 100%;
  width: 100%;
}
