.container {
  background-color: #c4c4c4;
  width: 100%;
  height: 48.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  text-align: center;
  padding-top: 2vh;
}

.noDecks {
  font-size: 1.5vw;
  padding-top: 12vh;
}

@media only screen and (max-width: 1024px) {
  .container {
    background-color: #c4c4c4;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2%;
  }
  .heading {
    font-size: 3vw;
  }
  .noDecks {
    font-size: 2vw;
    padding: 4vh;
  }
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 4vw;
  }
  .noDecks {
    font-size: 4vw;
    padding: 4vh;
  }
}
