.registerContainer {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 35vh auto;
}

.registerForm {
  box-sizing: border-box;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.registerFormButton {
  width: 100%;
}
