.DeckCardContainer {
  margin: 50px auto;
  height: auto;
  max-height: auto;
  width: 320px;
  overflow: auto;
  background-color: lightgrey;
}

.MyDecks {
  text-align: center;
  color: black;
}

.deckCard {
  margin: 10px 10px;
}

button {
  width: 16%;
}
