@import '../../style//variables.css';

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0;
  max-width: var(--size-maxwidth-lg);
  margin: 0 auto;
  position: relative;
}

.logo {
  max-width: 50px;
}

@media (max-width: 768px) {
  .topnav-links {
    display: none;
  }
}

.topnav-links li {
  padding: 1rem 2rem;
}

.topnav-links li:last-of-type {
  padding-right: 0;
}

.topnav-links li a {
  color: #fff;
  font-size: 1.6rem;
  display: block;
}

.topnav-links li a:hover {
  color: var(--color-primary);
}

.topnav-links li a.selected {
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.topnav-res-btn {
  display: block;
  background: transparent;
  min-width: inherit;
  position: relative;
  min-height: 0;
  height: 25px;
  width: 25px;
  border: none;
  outline: none;
}
@media (min-width: 768px) {
  .topnav-res-btn {
    display: none;
  }
}

.topnav-res-btn span {
  display: block;
  position: absolute;
  height: 2.5px;
  width: 50%;
  background: var(--color-white);
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.topnav-res-btn span:nth-of-type(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.topnav-res-btn span:nth-of-type(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

.topnav-res-btn span:nth-of-type(1), 
.topnav-res-btn span:nth-of-type(2) {
  top: 0px;
}

.topnav-res-btn span:nth-of-type(3), 
.topnav-res-btn span:nth-of-type(4) {
  top: 8px;
}

.topnav-res-btn span:nth-of-type(5), 
.topnav-res-btn span:nth-of-type(6) {
  top: 16px;
}


/* Media Query - RESPONSIVE nav */
@media (max-width: 768px) {
  .topnav.open .topnav-links {
    display: flex;
    position: absolute;
    z-index: 4;
    background: var(--color-grey-50);
    flex-direction: column;
    top: 60px;
    right: -10px;
    width: 100%;
    text-align: end;
    max-width: 250px;
    border-radius: 5px;     
  }

  .topnav.open .topnav-links:before {
    content: ' ';
    position: absolute;
    border: solid 15px transparent;
    border-top: solid 0px transparent;
    border-width: 14px;
    border-color: var(--color-grey-50) transparent transparent transparent;
    right: .8rem;
    transform: rotate(180deg);
    top: -28px;
  }

  .topnav.open .topnav-links li {
    width: 100%;
    padding: 1rem 1rem 0;
  }

  .topnav.open .topnav-links li:last-of-type {
    position: static;
  }

  .topnav.open .topnav-links li:last-of-type a {
    border-bottom: none;
    padding-bottom: 1rem;
  }

  .topnav.open .topnav-links a {
    width: 100%;
    color: var(--color-white);
    padding: 1.2rem 0 .75rem;
    border-bottom: 1px solid var(--color-white);
  }

  .topnav.open .topnav-links a.selected {
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
  }

  .topnav.open .topnav-links a:hover {
    color: var(--color-primary);
  }

  .topnav.open .topnav-res-btn span {
    background: var(--color-primary);
  }

  .topnav.open .topnav-res-btn span:nth-of-type(1), 
  .topnav.open .topnav-res-btn span:nth-of-type(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .topnav.open .topnav-res-btn span:nth-of-type(2), 
  .topnav.open .topnav-res-btn span:nth-of-type(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .topnav.open .topnav-res-btn span:nth-of-type(1) {
    left: 3px;
    top: 3px;
  }

  .topnav.open .topnav-res-btn span:nth-of-type(2) {
    right: 3px;
    top: 3px;
  }

  .topnav.open .topnav-res-btn span:nth-of-type(3) {
    left: -50%;
    opacity: 0;
  }

  .topnav.open .topnav-res-btn span:nth-of-type(4) {
    left: 100%;
    opacity: 0;
  }

  .topnav.open .topnav-res-btn span:nth-of-type(5) {
    left: 3px;
    bottom: 3px;
  }

  .topnav.open .topnav-res-btn span:nth-of-type(6) {
    right: 3px;
    bottom: 3px;
  }
}