.btn {
  width: 100px;
  margin-right: 25px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 150px;
  margin-top: 15px;
  padding: 0 40px;
}

.mappedCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 30%;
  margin-bottom: 15px;
  margin-right: 14px;
}

@media (max-width: 500px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .heading {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .describe {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .btn {
    margin-top: 27px;
    width: 150px;
  }
}

@media (max-width: 500px) {
  .title {
    display: flex;
    flex-direction: column;
    margin-top: 100px;

    justify-content: space-between;
    margin-left: 12px;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .mappedCard {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0px;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 0 30px;
  }
}

.header {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
  min-width: 70%;
  align-self: center;
}
.mainContent {
  height: 500px;
  display: flex;
}

.deckName {
  font-size: 30px;
  margin-left: 240px;
  font-family: Arial, Helvetica, sans-serif;
}
