.card-div {
  display: flex;
  width: 100%;
}

.search-div {
  display: flex;
width: 100%;
align-items: center;
margin-top: -550px;
/* justify-content: space-around; */
}
.btn {
  width: 100px;
}

.deck-name{
  margin-right: 15px;
}