.btn {
  width: 100px;
  margin-right: 25px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 150px;
  margin-top: 15px;
  padding: 0 40px;
}

.mappedCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80vw;
  margin-top: 50px;
}

.card {
  width: 24%;
  margin-bottom: 4vh;
  -webkit-box-shadow: 4px 10px 20px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 10px 20px -9px rgba(0,0,0,0.75);
  box-shadow: 4px 10px 20px -9px rgba(0,0,0,0.75);
}

.header {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
  min-width: 70%;
  align-self: center;
}

.deckName {
  font-size: 30px;
  margin-left: 90px;
  font-family: Arial, Helvetica, sans-serif;
}

.headersearch {
  background-color: red;
  color: blue;
}

@media (max-width: 1400px) {
  .mappedCard {
    margin-left: 2vw;
    width: 930px;
  }
  
  .card {
    width: 30%;
  }

  .deckName {
    font-size: 25px;
    margin-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media (max-width: 1150px) {
  .mappedCard {
    margin-left: 5vw;
    width: 800px;
  }
  
  .card {
    width: 30%;
  }

  .deckName {
    font-size: 25px;
    margin-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
  }
}


@media (max-width: 1050px) {
  .mappedCard {
    margin-left: 8vw;
    width: 700px;
  }
  
  .card {
    width: 45%;
  }
}

@media (max-width: 970px) {
  .mappedCard {
    width: 580px;
    margin-left: 10vw;
  }
}

@media (max-width: 850px) {
  .mappedCard {
    width: 580px;
    margin-left: 16vw;
  }

  .card {
    width: 80%;
  }
}

@media (max-width: 850px) {
  .mappedCard {
    width: 580px;
    margin-left: 16vw;
  }

  .card {
    width: 80%;
  }
}