.login-form {
    max-width: 400px;
    margin: 0 auto;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }
  .ant-form-explain {
      color: red;
  }
  .forgot-password h1{
      margin: 0 auto;
      text-align: center;
      margin-bottom: 30px;
      font-size: 2rem;
  }
  .login-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 30vh auto;
  }
  h1{
    display: flex;
    justify-content: center;
  }