.login-form, .new-password-form {
    max-width: 350px;
    width: 100%;
  }

.ant-form-explain {
      color: red;
  }

.forgotPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;
  overflow-y: hidden;
}

.forgotPassword h1{
      margin: 0 auto;
      text-align: center;
      margin-bottom: 30px;
      font-size: 2rem;
}

.forgotPassword button {
  width: 100%;
}
