.dashboard {
  display: flex;
  flex-direction: row;
}

.dashboardRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: red;
}

.dashboardLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 100vh;
  border-right: solid 1px #e8e8e8;
}

.toggleIcon {
  align-self: flex-start;
  margin: 2vh;
}

.logo {
  position: absolute;
  margin-top: 8vh;
}

.greeting {
  position: absolute;
  margin-top: 16vh;
}

.menuContainer {
  width: 270px;
  margin-top: 28vh;
}

.menu {
  width: 270px;
  position: absolute;
}

.logoutButton {
  position: absolute;
  width: 122px;
  height: 4vh;
  margin-top: 47vh;
}

.footer {
  position: absolute;
  text-align: center;
  color: black;
  margin-top: 95vh;
  line-height: 0.3;
}
@media only screen and (max-width: 600px) {
  .dashboard {
    display: flex;
    flex-direction: column;
  }

  .dashboardRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2vh;
    color: red;
  }

  .dashboardLeft {
    width: 100%;
    height: 80%;
    border-bottom: solid 1px #e8e8e8;
  }
  .toggleIcon {
    align-self: flex-start;
    margin: 2vh;
  }
  .logo {
    position: absolute;
    margin-top: 6vh;
  }

  .greeting {
    position: absolute;
    margin-top: 14vh;
  }

  .menuContainer {
    width: 100%;
    margin-top: 13vh;
  }

  .menu {
    width: 100%;
    position: absolute;
  }

  .logoutButton {
    position: absolute;
    width: 122px;
    height: 4vh;
    margin-top: 22vh;
    margin-bottom: 7vh;
  }

  .footer {
    position: absolute;
    text-align: center;
    color: black;
    margin-top: 50vh;
  }
}
