.google_auth {
  width: 100%;
  display: flex;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.googleIcon {
  width: 50px !important;
  margin: 0 10px;
}
/* 
.gstyle {
  background-color: red;
} */
